*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: 0.5s;
    scroll-behavior: smooth;
}
body
{
    background-color: rgb(4, 2, 23);
    perspective: 600px;
}
.container
{
    width: 80%;
    margin: auto;
}
.clearfix
{
    clear: both;
}
.header
{
   position: sticky;
   width: 100%;
   height: 60px;
   padding: 0px 10%;
   top: 0px;
   background-color: rgb(0, 0, 0);
   z-index: 110;
}
.logo
{
    width: 66px;
    /* margin: 0px 10%; */
    padding: .5% 0;
    float: left;
}
.nav
{
    float: right;
    /* margin-right: 10%; */
    text-align: center;
    list-style: none;
    margin-top: 18px;
}
.nav li
{
    display: inline-block;
    margin: 1px 3px;
}
.nav li a
{
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: .4s;
    font-size: 15px;
    position: relative;
}
.nav li a::after,
.header-active:after
{
    content: "";
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: #ffffff;
    transition: 0.5s;
}
.nav li a::after,
.header-active:after
{
    content: "";
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: #fff;
    transition: 0.5s;
}
.header .nav .header-active:after
{
    width: 100%;
}
.nav li a:hover::after
{
   width: 100%;
}
.overlay
{
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0,0.7);
}
/* ----------------------- header end -----------------------------*/
.animation-sec2
{
    position: relative;
}
.animation-parent
{
    background: #3c39ff4f;
    height: 500px;
    padding: 2% 0px;
}
.animation-parent .child
{
    width: 100%;
    height: 14.4%;
    margin-bottom: 1.6%;
    background: #fff;
    position: relative;
}
.animation-parent .child .child1, .child2  , .child3, .child4, .child5 , .child6
{
    height: 100%;
    width: 150px;
    position: absolute;
    right: 0;
    background: black;
    border-radius: 13px;
}
.animation-parent .child .child2 , .child4, .child6
{
    position: absolute;
    left: 0;
}
.child1, .child2, .child3, .child4, .child5, .child6
{
    animation: child2  3s  ease-in-out  3s  2  alternate forwards running;
    animation-name: child2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}
.child1
{
    /* animation: child1  3s  ease-in-out  0s  4  alternate forwards; */
    animation-delay: 0s;
}
.child3
{
    animation-name: child3;
    animation-delay: 6s;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
}
.child4
{
    animation-name: child4;
    animation-delay: 10s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
.child5
{
    animation-name: child5;
    animation-delay: 14s;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
}
.child6
{
    animation-name: child6;
    animation-delay: 18s;
    animation-direction: alternate;
    animation-fill-mode: backwards;
}
.child img
{
    width: 60px;
    margin: 10px 45px;
}
@keyframes child1 {
    0%
    {
        right: 0;
    }
    100%
    {
        right: 81%;
    }
}
@keyframes child2 {
    0%
    {
        left: 0;
    }
    100%
    {
        left: 81%;
    }
}
@keyframes child3 {
    0%
    {
        right: 81%;
    }
    100%
    {
        right: 0px;
    }
}
@keyframes child4 {
    0%
    {
        left: 0;
    }
    100%
    {
        left: 81%;
    }
}
@keyframes child5 {
    0%
    {
        right: 81%;
    }
    100%
    {
        right: 0px;
    }
}
@keyframes child6 {
    0%
    {
        left: 0;
    }
    100%
    {
        left: 81%;
    }
}
